<h1>Theories</h1>

<h4><strong>Refine Search:</strong></h4>

<%= form_tag theories_path, :method => "get" do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<% @theories.each do |theory| %>
  <ul>
    <li class="theory-item"><%= link_to theory.name, theory_path(theory.id) %> |
      <% if theory.thinker.present? %>
        <%= link_to theory.thinker.name, thinker_path(theory.thinker.id) %>
      <% end %>
    </li>
  </ul>
<% end %>
