<h1><%= @theory.name %></h1>

<% if @theory.thinker.present? %>
  <h2>Developed by: <%= link_to @theory.thinker.name, @theory.thinker %></h2>
<% end %>

<h3>Brief Summary</h3>
<p><%= truncate @summary, :length => 500 %></p>

<p><%= link_to "Read more", @info %></p>

<div class="controls">
  <%= link_to "Edit Theory", edit_theory_path(@theory.id) %>
  <%= link_to "Delete Theory", theory_path(@theory.id), :method => "delete" %>
</div>
