<h1><%= @thinker.name %></h1>

  <%= cl_image_tag @thinker.image, :class => "thinker-feature" %>

<p><%= @thinker.quote %></p>

<ul>
  <% if @thinker.birth.present? %>
  <li>Born: <%= @thinker.birth.strftime("%A, %B %e, %Y") %></li>
  <% end %>
  <% if @thinker.death.present? %>
  <li>Passed: <%= @thinker.death.strftime("%A, %B %e, %Y") %></li>
  <% end %>
  <li>Era: <%= @thinker.era %></li>
  <li>Nationality: <%= @thinker.nationality %></li>
</ul>

<h2>Brief</h2>
<p><%= truncate @summary, :length => 1000 %></p>

<p><%= link_to "Read More", @info %></p>

<!-- XXX ADD LIST OF THINKER'S WORKS AND FIELDS WHICH HE COVERS -->
<h2>Theories Developed by <%= @thinker.name %></h2>
<% @theories.each do |theory| %>
  <li><%= link_to theory.name, theory %></li>
<% end %>

<h2>Fields Explored by <%= @thinker.name %></h2>
<% @fields.each do |field| %>
  <li><%= link_to field.name, field %></li>
<% end %>

<h2>Texts by <%= @thinker.name %></h2>
<% @items.each do |item| %>
  <% if item["volumeInfo"]["authors"].include?(@thinker.name) %>
    <li><%= link_to item["volumeInfo"]["title"], item["volumeInfo"]["infoLink"] %></li>
  <% end %>
<% end %>

<div class="controls">
  <%= link_to "Edit Entry", edit_thinker_path(@thinker.id) %>
  <%= link_to "Delete Entry", thinker_path(@thinker.id), :method => "delete" %>
  <%= link_to "Add to List", add_to_favourites_path(@thinker.id), :method => "post" %>
</div>
