<h1><%= @thinker.name %></h1>

<%= cl_image_tag @thinker.image, :class => "thinker-feature" %>

<div class="quote-box">
  <p class="quote"><%= @thinker.quote %></p>
</div>

<ul class="bio-info">
  <% if @thinker.birth.present? %>
  <li>Born: <%= @thinker.birth.strftime("%A, %B %e, %Y") %></li>
  <% end %>
  <% if @thinker.death.present? %>
  <li>Passed: <%= @thinker.death.strftime("%A, %B %e, %Y") %></li>
  <% end %>
  <li>Era: <%= @thinker.era %></li>
  <li>Nationality: <%= @thinker.nationality %></li>
</ul>

<div class="wiki-brief">
<h2>Brief</h2>
<p><%= truncate @summary, :length => 1000 %></p>

<p><%= link_to "Read More", @info %></p>
</div>

<div class="row">
    <div class="col-sm">
      <h2>Theories</h2>
      <% @theories.each do |theory| %>
        <ul>
          <li><%= link_to theory.name, theory %></li>
        </ul>
      <% end %>
    </div>
    <div class="col-sm">
      <h2>Related Fields</h2>
      <% @fields.each do |field| %>
        <ul>
          <li><%= link_to field.name, field %></li>
        </ul>
      <% end %>
    </div>
    <div class="col-sm">
      <h2>Publications</h2>
      <% @items.each do |item| %>
        <% if item["volumeInfo"]["authors"].include?(@thinker.name) %>
        <ul>
          <li><%= link_to item["volumeInfo"]["title"], item["volumeInfo"]["infoLink"] %></li>
        </ul>
        <% end %>
      <% end %>
    </div>
  </div>

<div class="controls">
  <%= link_to "Edit Entry", edit_thinker_path(@thinker.id), :class => "btn btn-primary" %>
  <%= link_to "Delete Entry", thinker_path(@thinker.id), :method => "delete", :class => "btn btn-danger" %>
  <%= link_to "Add to List", add_to_favourites_path(@thinker.id), :method => "post", :class => "btn btn-success" %>
</div>
